<h1>Log In</h1>
<%= render partial: '/errors', locals: { record: @user } %>
<br>
<%= form_for @user, url: success_path do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.submit "Log In" %>
<% end %>