<h1>New User</h1>
<%= render partial: '/errors', locals: { record: @user } %>
<br>
<%= form_for @user, url: create_path do |f| %>
<%= f.label :username %>
<br>
<%= f.text_field :username %>
<br>
<%= f.label :email %>
<br>
<%= f.text_field :email %>
<br>
<%= f.label :password %>
<br>
<%= f.password_field :password %>
<br>
<%= f.label :password_confirmation %>
<br>
<%= f.password_field :password_confirmation %>
<br>
<br>
<%= f.submit "Create New Player" %>
<% end %>