<h1>New User</h1>
<p class="error"><%= render partial: '/errors' %></p>
<br>
<%= form_for @user, url: '/create' do |f| %>
<%= f.label :username %>
<br>
<%= f.text_field :username %>
<br>
<%= f.label :email %>
<br>
<%= f.text_field :email %>
<br>
<%= f.label :password %>
<br>
<%= f.password_field :password %>
<br>
<%= f.label :password_confirmation %>
<br>
<%= f.password_field :password_confirmation %>
<br>
<br>
<%= f.submit "Create New Player" %>
<% end %>