

<%= link_to 'Back', games_path %>
<h1>Game Show Page</h1>
<h3><%= @game.name %></h3>
<ul>
    <li>Desc: <%= @game.description %></li>
    <li>Genre: <%= @game.genre %></li>
    <li>Price: $<%= @game.price %></li>
</ul>
<% if logged_in? %>
    <%= form_for @line_item  do |f|%>
        <%= f.hidden_field :game_id, value: @game.id %>
        <%= f.number_field :quantity, value: 1, :min =>  1%>
        <%= f.submit "Add to Cart "%>
    <% end %>
<% end %>

