<h1>New Cart</h1>

<%= render partial: '/errors', locals: { record: @cart } %>

<%= form_for @cart do |f| %>
<%= f.label :total %>
<%= f.number_field :total, step: 1 %>
<%= f.submit "Create Cart"%>
<% end %>