<h1>New Line Item for Cart: <%= @cart.id %></h1>

<%= render partial: '/errors', locals: { record: @line_item} %>

<%= form_for @line_item do |f| %>
    <%= f.hidden_field :cart_id, value: @cart.id %>
    <%= f.label :game_id %>
    <%= f.collection_select :game_id, Game.all, :id, :name %>
    <br>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
    <br>
    <%= f.submit %>
<% end %>